# Parameters for the image build

# Output image name, usually same as repo name
IMAGE_NAME=topaz-os

# Same as the github username/organisation the repo lives under
REPO_ORGANIZATION="davidar"

IMAGE_DESC="Bluefin DX (NVIDIA Open) + COSMIC desktop + hybrid-laptop fixes"
IMAGE_KEYWORDS="bootc,oci,linux,bluefin,cosmic,nvidia"

IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/24291?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
